{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Badi James CV {% block name %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'badicv/base.css' %}" /> 
		{% block style_sheet %}{% endblock %}
	</head>
	<body>
		<div class=background_div></div>
			
		<ul class=title_bar>
			<li class=dropdown>
				<img id=menu_icon src="{% static 'badicv/menu-icon-2400px.png' %}" />
				<ul class=dropdown_content>
					<li><a href="/skill/">Skills</a></li>
					<li><a href="/experience/">Experiences</a></li>
					<li><a href="/referee/">Referees</a></li>
					<li class=bar_contact>
						<ul>
							<li>+64 22 0462234</li>
							<li>badi.t.james@gmail.com</li>
						</ul>
					</li>	
				</ul>
			</li>
			<li class=title><a href="/">Badi James CV</a></li>
			<li class=menu_link><a href="/skill/">Skills</a></li>
			<li class=menu_link><a href="/experience/">Experiences</a></li>
			<li class=menu_link><a href="/referee/">Referees</a></li>
			<li class=bar_contact>
				<ul>
					<li>+64 22 0462234</li>
					<li>badi.t.james@gmail.com</li>
				</ul>
			</li>
		</ul>	
		
		
		<div class=content>
		{% block content %}
		{% endblock %}
		</div>

		<div class=bottom_bar>
			<div class=bottom_text>
				<a href="https://github.com/MicrowavedScrambledEggs" target="_blank">
				my github</a>
			</div>
		</div>		
		
	</body>
</html>