{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>Badi James CV {% block name %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'badicv/base.css' %}" /> 
		{% block style_sheet %}{% endblock %}
	</head>
	<body>

		<div class=title_bar>
			<div class=title_bar_content>
				<div class=title><a href="/">Badi James CV</a></div>
				<div class=title_menu>
					<ul>
						<li><a href="/skill/">Skills</a></li>
						<li><a href="/experience/">Experiences</a></li>
						<li><a href="/referee/">Referees</a></li>
					</ul>
				</div>
				<div class=bar_contact>
					<ul>
						<li>+64 22 0462234</li>
						<li>badi.t.james@gmail.com</li>
					</ul>
				</div>
			</div>
		</div>	
		
		{% block content %}
		{% endblock %}

		<div class=bottom_bar>
			<div class=bottom_text>
				Take a look at my code for this website and other projects at 
				<a href="https://github.com/MicrowavedScrambledEggs" target="_blank">
				my github</a>
			</div>
		</div>	
	</body>
</html>