{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>Badi James CV {% block name %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'badicv/index.css' %}" /> 
		{% block style_sheet %}{% endblock %}
	</head>
	<body>

		<div class=titleBar>
			<div class=title_object><div class=title>Badi James CV</div></div>
			<ul class=title_object>
				<li class=title_object><a href="/skill/">Skills</a></li>
				<li class=title_object><a href="/experience/">Experiences</a></li>
				<li class=title_object><a href="/referee/">Referees</a></li>
			</ul>
			<div class=bar_contact>
				<ul class=title_object>
					<li>Home: 04 970 1894</li>
					<li>Cell: 022 046 2234</li>
					<li>badi.t.james@gmail.com</li>
				</ul>
			</div>
		</div>	
		{% block content %}
		{% endblock %}

		<div class=bottom_bar>
			<div class=bottom_text>
				Take a look at my code for this website and other projects at 
				<a href="https://github.com/MicrowavedScrambledEggs">my github</a>
			</div>
		</div>	
	</body>
</html>