<!DOCTYPE html>
<html>
<head>
<title>Badi James CV {{ex.name}}</title>
</head>
<body>

<h1>{{ex.name}}</h1>

<h2>{{ex.location}}</h2>

<p>{% if ex.start_date %}<b>Start Date:</b> {{ex.start_date}}{% endif %}<br>
{% if ex.end_date %}<b>End Date:</b> {{ex.end_date}} {% endif %}</p>

<p>{{ex.description}}</p>

<h2>Skills Used</h2>

<ul>
{% for skill in ex.experiencewithskill_set.all %}
	<li>
	<h3><a href="/skill/{{skill.skill_name}}/">{{skill.skill_name}}</a></h3>
	
	<p>{{skill.description}}</p>
	</li>
{% endfor %}
</ul>

{% if ex.referee_set.all %}
	<h2> Related Referees </h2>
	<ul>
	{% for ref in ex.referee_set.all %}
		
		<li><a href="/referee/{{ref.name}}/"><b>{{ref.name}}</b></a><br>
		{% if ref.phone_number %}{{ref.phone_number}}{% endif %}<br>
		{% if ref.email %}{{ref.email}}{% endif %}</li>
		
	{% endfor %}
{% endif %}

</body>
</html>