{% extends 'badicv/base.html' %}
{% load staticfiles %}

{% block name %}{{ex.name}}{% endblock %}
{% block style_sheet %}
{% endblock %}

{% block content %}
<h1>{{ex.name}}</h1>

<h2>{{ex.location}}</h2>

<p>{% if ex.start_date %}<b>Start Date:</b> {{ex.start_date}}{% endif %}<br>
{% if ex.end_date %}<b>End Date:</b> {{ex.end_date}} {% endif %}</p>

<p>{{ex.description}}</p>

<h2>Skills Used</h2>

<ul>
{% for skill in ex.experiencewithskill_set.all %}
	<li>
	<h3><a href="/skill/{{skill.skill}}/">{{skill.skill}}</a></h3>
	
	<p>{{skill.description}}</p>
	</li>
{% endfor %}
</ul>

{% if ex.referee_set.all %}
	<h2> Related Referees </h2>
	<ul>
	{% for ref in ex.referee_set.all %}
		
		<li><a href="/referee/{{ref.name}}/"><b>{{ref.name}}</b></a><br>
			<ul>
				{% for phone in ref.phone_set.all %}
					<li>{{phone.phone_number}}</li>
				{% endfor %}
				{% for email in ref.email_set.all %}
					<li>{{email.email}}</li>
				{% endfor %}
			</ul>
		</li>
		
	{% endfor %}
	</ul>
{% endif %}

{% endblock %}