<!DOCTYPE html>
<html>
<head>
<title>Badi James CV</title>
</head>
<body>

<h1>Badi James CV</h1>

<p>I am a recent graduate interested and experienced with science and software 
development, looking for inspiring projects to test and develop my technical and 
teamwork skills. Aiming for positive relationships with people has helped me have 
positive life experiences. In my free time I can be found enjoying music, the outdoors 
and interesting conversation.</p>
<p>
<a href="/skill/">My Skills</a><br>
<a href="/experience/">My Experience (work, educational, etc)</a><br>
<a href="/referee/">My Referees</a><br>
</p>
<p>Home: 04 970 1894 <br>
  Cell: 022 046 2234 <br>
  badi.t.james@gmail.com <br>
</p>

</body>
</html>