{% extends 'badicv/base.html' %}
{% load static %}

{% block style_sheet %}
<link rel="stylesheet" type="text/css" href="{% static 'badicv/index.css' %}" />  
{% endblock %}

{% block content %}
		
	<div class=description>
		<p>I am a recent graduate interested and experienced with science and software 
		development, looking for inspiring projects to test and develop my technical and 
		teamwork skills. Aiming for positive relationships with people has helped me have 
		positive life experiences. In my free time I can be found enjoying music, the outdoors 
		and interesting conversation.</p>
	</div>
	<ul class=welcome_menu>
		<li><a href="/skill/" id="skill">Skills</a></li>
		<li><a href="/experience/" id="exp">Experience</a></li>
		<li><a href="/referee/" id="ref">Referees</a></li>
	</ul>
	<div class=contact>
		<h1>Contact:</h1>
		<ul>
			<li>Cell: +64 22 0462234</li>
			<li>Email: badi.t.james@gmail.com</li>
		</ul>
	</div>
		
{% endblock %}