{% extends 'badicv/base.html' %}

{% block content %}
		<div class=content>
			<div class=description>
				<p>I am a recent graduate interested and experienced with science and software 
				development, looking for inspiring projects to test and develop my technical and 
				teamwork skills. Aiming for positive relationships with people has helped me have 
				positive life experiences. In my free time I can be found enjoying music, the outdoors 
				and interesting conversation.</p>
			</div>
			<div class=welcome_menu>
				<ul>
					<li><a href="/skill/">My Skills</a></li>
					<li><a href="/experience/">My Experience (work, educational, etc)</a></li>
					<li><a href="/referee/">My Referees</a></li>
				</ul>
			</div>
			<div class=contact>
				<h2>Contact:</h2>
				<ul>
					<li>Home: 04 970 1894</li>
					<li>Cell: 022 046 2234</li>
					<li>badi.t.james@gmail.com</li>
				</ul>
			</div>
		</div>
{% endblock %}