{% extends 'badicv/base.html' %}
{% load static %}

{% block name %}Skills{% endblock %}

{% block style_sheet %} 
<link rel="stylesheet" type="text/css" href="{% static 'badicv/search.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'badicv/skill_search.css' %}" />
{% endblock %}  

{% block content %}

<form class="search_bar" action="{% url 'badicv:skill search' %}" method="get">
	{{ form.as_p }}
	<input type="submit" value="Search">
</form>

<ul class="search_list">
{% for skill in skills %}
	<li><a href="/skill/{{skill.name}}/"><u style="color: black;">{{skill.name}}:</u> <i>
	{{skill.description}}</i> <div class="read_more"><b>click to read more</b></div></a></li>
{% endfor %}
</ul>

{% endblock %}