html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
			
body {
	position: relative;
	margin: 0;
	padding: 0;
	min-height: 100%;
	background-color:rgba(255, 99, 71, 0.15);
	min-width: 350px;
}

.background_div {
	position: fixed;
	top: 0px;
	height: 100%;
	width: 1000px;
	margin: auto;
	background-color: white;
	left: 50%;
	transform: translate(-50%, 0%);
	z-index: -1;
}

.title_bar, .bottom_bar {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.title_bar {
	list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

.menu_link, .bar_contact, .title{
	display: inline-block;
	vertical-align: middle;
}

.title_bar a {
	display:inline-block;
	padding: 1em;
	color: white;
	text-decoration: none;
	font-size: 1.375em;
	background-color: rgb(169, 0, 228);
}

.title_bar a:hover {
	background-color: rgba(169, 0, 228, 0.5);
}

.dropdown, .dropdown_content {
	display: none;
}
	
.dropdown {
	cursor: pointer;
}

.dropdown  img{
	width: 2em;
	height: 2em;
	margin: 1em;
}

.dropdown_content {
	position: absolute;
	z-index: 1;
	padding: 0;
	background-color: rgb(124, 0, 167);
	box-shadow: 8px 8px 16px rgba(0,0,0,0.2);
}

.dropdown_content > .bar_contact {
	padding: 1em;
}

.dropdown_content a {
	width: 100%;
}

.bottom_bar, .title_bar {
	width: 100%;
	color: white;
	background-color: rgb(124, 0, 167);
}

.title {
	font-size: 1.625em;
}

.title a {
	color: white;
	text-decoration: none;
	background-color: rgb(124, 0, 167);
	padding: 1rem;
}

.title a:hover {
	background-color: rgb(124, 0, 167);
}

.bar_contact {
}

.bar_contact ul {
	margin: 0;
	list-style-type: none;
	font-size: 1.125em;
	padding-left: 20px;
    line-height: 1.125em;
    display: inline-block;
    vertical-align: middle;
}

.bar_contact li {
	text-align: left;
}

.content {
	max-width: 1000px;
	margin: auto;
	font-family: Verdana, Arial, sans-serif;
	background-color: rgba(0,0,0,0);
	padding: 2em;
}

.content h1 {
	margin-top: 0;
}

.bottom_bar {
	position: absolute;
	bottom: 0;
	height: 50px;
	line-height: 50px; /* for vertical text centering */
	text-align: center;
	font-size: 1.25em;
}

.bottom_bar a {
	color: lightblue;
}

@media screen and (min-width: 921px) {
	
	.bottom_text:before {
		content: "Take a look at my code for this website and other projects at ";
	}
}

@media screen and (max-width: 920px) {
	
	.bottom_text:before {
		content: "Check out ";
	}
	
	.title_bar {
		text-align: left;
	}
	
	.title_bar > .menu_link, .title_bar > .bar_contact{
		display: none;
	}
	
	.dropdown, .title {
		display: inline-block;
		vertical-align: middle;
	}
	
	.dropdown:hover .dropdown_content, .dropdown:focus .dropdown_content {
		display: block;
	}
	
}
	