/* TODO: Decrease reliance on 'magic' numbers, maybe by using javascript */
			
body, html{
	margin: 0;
	padding: 0;
	height: 100%;
}

.background_div {
	position: fixed;
	top: 0px;
	height: 100%;
	width: 1000px;
	margin: auto;
	background-color:rgba(255, 99, 71, 0.1);
	left: 50%;
	transform: translate(-50%, 0%);
	z-index: -1;
}

.title_bar, .bottom_bar {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.title_bar {
	height: 76px; /* magic_number_1, ideally should automatically be the max 
					height out of the elements in the title bar*/
}

.bottom_bar, .title_bar {
	width: 100%;
	color: white;
	background-color: rgb(124, 0, 167);
}

.title_menu {
	width: 500px; /* magic_number_2 */
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
}

.title_menu ul{
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
	background-color: rgb(124, 0, 167);
}

.title_menu a {
	display: block;
	color: white;
	font-size: 1.375em;
	text-align: center;
	text-decoration: none;
	width: 33%;
	float: left;
	height: 76px; /* magic_number_1 */
	line-height: 76px; /* for vertical text centering */
	margin: auto;
}

.title_menu a:hover {
	background-color: rgb(124, 0, 167);
}

.title {
	font-size: 2.25em;
	text-align: right;
	position: absolute;
	left: 50%;
	width: 400px; /* magic_number_3, ideally should automatically be the width 
					of the title text */
	/* x translate is 0 - (magic_number_2 / 2) - magic_number_3 - 20 (padding)*/
	transform: translate(-650px, 0%);
	height: 76px; /* magic_number_1 */
	line-height: 76px; /* for vertical text centering */ 
}

.title a {
	color: white;
	text-decoration: none;
}

.bar_contact {
	position: absolute;
	left: 50%;
	transform: translate(250px, 0%); /* x translate is magic_number_2 / 2 */
	height: 76px; /* magic_number_1 */
	line-height: 76px; /* for vertical text centering */ 
}

.bar_contact ul {
	margin: 0;
	list-style-type: none;
	font-size: 1.125em;
	padding-left: 20px;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

.content {
	max-width: 1000px;
	margin: auto;
	font-family: Verdana, Arial, sans-serif;
	background-color: rgba(0,0,0,0)
}

.bottom_bar {
	position: absolute;
	bottom: 0;
	height: 50px;
	line-height: 50px; /* for vertical text centering */
	text-align: center;
	font-size: 1.25em;
}

.bottom_bar a {
	color: lightblue;
}