.titleBar, .content, .bottom_bar {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.titleBar, .bottom_bar {
	background-color: rgba(124, 0, 167, 0.75);
	color: white;
	font-size: 20px;
}

.bottom_bar {
	position: bottom;
}

a.titleBar {
	color: white;
}

.title {
	font-size: 32px;
}

.description , .bottom_bar{
	text-align: center;
}

body {
	margin: 0;
	padding: 0;
}

ul .title_object{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(124, 0, 167, 0.5);
}

li.title_object{
    float: left;
}

li.title_object a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li.title_object a:hover {
    background-color: rgba(124, 0, 167, 1);
}
