.content {
	padding: 0;
}

.search_bar {
	margin: 20px;
}

#id_search_term {
	width: 60%;
}

#id_type {
	width: 20%;
}

ul.search_list  {
	padding: 0;
	list-style-type: none;
}

.search_list a {
	display: block;
	overflow: hidden;
	width: 100%;
	text-decoration: none;
	height: 6em;
	line-height: 1em;
	padding: 1em;
	color: lightgrey;
	border-style: outset;
	border-color: lightgrey;
	position: relative;
}

.read_more {
	position: absolute;
	bottom: 0;
	right: 4em;
	color: black;
	padding: 0.25em 0.75em 0.75em 0.75em;
	background-color: rgba(255, 255, 255, .5);
}

.ex_name {
	color: black;
}

.search_list a:hover {
	color: black;
	border-color: darkgrey;
	background-color: rgba(255, 206, 250, 0.4);
}

.search_list a:hover  .read_more{
	color: purple;
	background-color: rgba(255, 236, 254, .9);
}